<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>【京冬众质】 - 盗版数据标注平台</title>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui-v2.6.8/layui/css/layui.css">
    <script src="/static/layui-v2.6.8/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/dist/css/zui.min.css">
    <script src="/static/dist/js/zui.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/fanhui.js"></script>
    <link rel="shortcut icon" href="/static/img/title.png">
    <script>
        var user_id = '{{user_id}}';
    </script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body style="overflow-x:hidden;">

    <!-- 轮播 -->
    <div class="row">
        <div class="col-md-12" style="margin-top: 56px;">
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                <div><a><img src="/static/img/1.png" style="height:100%;width: 100%;"></a></div>
                <div><a><img src="/static/img/2.png" style="width: 100%;"></a></div>
                <!-- <div><a><img src="./img/3.png" style="width:100%"></a></div>
                <div><a><img src="./img/4.png" style="width:100%"></a></div>
                <div><a><img src="./img/5.png" style="width:100%"></a></div> -->
                </div>
            </div>
            
            <script src="/static/layui-v2.6.8/layui/layui.js"></script>
            <script>
                layui.use('carousel', function()
                    {   var carousel = layui.carousel;
                        carousel.render({
                            elem: '#test1'
                            ,width: '100%' //设置容器宽度
                            ,height: '700px'
                            ,Interval: '800'
                            ,arrow: 'hover' });
                    }
                );
            </script> 
        </div>
    </div>
    
    
    <!-- 多类型标注-标题 -->
    <div style="padding-top: 60px;text-align: center;">
        <p style="padding-bottom :8px;font-size: 50px;">值得信赖的盗版数据标注平台</h1>
        <p style="color: #666666;margin-bottom: 20px;font-size: 18px;">支持文本、图片、音频、视频多类型标注</p>
    </div>

    <div class="cards cards-borderless" style="margin:0 10%;">  

        <div class="col-md-3 col-sm-3 col-lg-3">
            <a class="card shadow" href="/jdzz_product/{{user_id}}/1/" style="border-radius: 20px;">
                <img src="/static/img/3.png" alt="" style="border-radius: 20px;">
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-lg-3">
            <a class="card shadow" href="/jdzz_product/{{user_id}}/1/" style="border-radius: 20px;">
                <img src="/static/img/4.png" alt="" style="border-radius: 20px;">
            </a>
        </div>     

        <div class="col-md-3 col-sm-3 col-lg-3">
            <a class="card shadow" href="/jdzz_product/{{user_id}}/1/" style="border-radius: 20px;">
                <img src="/static/img/5.png" alt="" style="border-radius: 20px;">
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-lg-3">
            <a class="card shadow" href="/jdzz_product/{{user_id}}/1/" style="border-radius: 20px;">
                <img src="/static/img/3.png" alt="" style="border-radius: 20px;">
            </a>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-bottom: 2%;">
            <a onclick="show1()" href="/jdzz_product/{{user_id}}/1/">更多项目></a>
        </div>

    </div>

    <div class="row" style="background-color: #f0f2f5;">
        <div style="padding-top: 35px;text-align: center;">
            <h1 style="padding-bottom :8px;font-size: 50px;">多类型标注</h1>
            <p style="color: #666666;margin-bottom: 20px;font-size: 18px;">文本、图片、音频、视频</p>
        </div>
    
        <div class="cards cards-borderless" style="margin:0 10%;">  
    
            <div class="col-md-4 col-sm-4 col-lg-4">
                <a class="card shadow" href="/jdzz_product/{{user_id}}/1/?caidan1=文本类型标注" style="border-radius: 20px;">
                    <img src="/static/img/wenben.png" alt="" style="border-radius: 20px;">
                </a>
            </div>
    
            <div class="col-md-4 col-sm-4 col-lg-4">
                <a class="card shadow" href="/jdzz_product/{{user_id}}/1/?caidan1=图片识别标注" style="border-radius: 20px;">
                    <img src="/static/img/tuxiang.png" alt="" style="border-radius: 20px;">
                </a>
            </div>     
    
            <div class="col-md-4 col-sm-4 col-lg-4">
                <a class="card shadow" href="/jdzz_product/{{user_id}}/1/?caidan1=图片类型标注" style="border-radius: 20px;">
                    <img src="/static/img/yinpin.png" alt="" style="border-radius: 20px;">
                </a>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-bottom: 2%;margin-top: 1%;">
                <a onclick="show1()" href="/jdzz_product/{{user_id}}/1/">更多项目></a>
            </div>
        </div>
    </div>



    <!-- 底部网站信息 -->
    <div class="footer" style="margin-top:0px ;">
        <div class="container">
            <div class="copyright">
                <img src="/static/img/logo.svg" alt="logo" style="height: 30px;"/>
                <p>
                    【京冬众质】 - 北航最好的盗版数据标注平台<br />
                &copy; 2022年
                </p>
                <a href="#" class="app">666</a>
            </div>
            <div class="links">
                <dl>
                    <dt>关于京冬众质</dt>
                    <dd><a href="#">关于</a></dd>
                    <dd><a href="#">团队管理</a></dd>
                    <dd><a href="#">工作机会</a></dd>
                    <dd><a href="#">帮助</a></dd>
                </dl>
                <dl>
                    <dt>使用帮助</dt>
                    <dd><a href="#">用户指南</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">客户服务</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd><a href="#">咨询邮箱：建议不要咨询</a></dd>
                </dl>
                <dl>
                    <dt>更多信息</dt>
                    <dd><a href="#">社会责任</a></dd>
                    <dd><a href="#">知识产权</a></dd>
                    <dd><a href="#">免责声明</a></dd>
                    <dd><a href="#">加入我们</a></dd>
                </dl>
            </div>
        </div>
    </div>
    

    <!-- 顶部固定导航栏 -->
    <ul class="layui-nav" style="box-shadow: 0px 3px 5px rgb(151 151 151 / 80%);background-color: white;text-align:center;position: fixed;top: 0px;width: 100%;right:0px;">
        <!--头顶大LOGO-->
        <div style="float: left;vertical-align: middle;line-height: 60px;margin-left: 15px;">
            <a href="#"><img src="/static/img/logo.svg" style="height:30px;"></a>
        </div>
        <li class="layui-nav-item" style="float:right;" id="log_in_0">
            <a id='denglu' href="http://localhost:8001" style="color:black;margin-right: 30px;"> 登录 </a>
            <dl class="layui-nav-child" style="margin-right: 50px;">
                <dd><a href="http://localhost:8001" style="color: black;">我的任务</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">账号设置</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style="float:right;display: none;" id="log_in_1">
            <a href="http://localhost:8001" style="color: black"><img src={{img_url}} class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="http://localhost:8001" style="color: black;">我的任务</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">账号设置</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style="float:right">
            <a href="/jdzz_product/{{user_id}}/1/" style="color: black;"> 任务市场 </a>
        </li>
        <li class="layui-nav-item layui-this"  style="float:right"><a href="" style="color: black;">首页</a></li>
    </ul>

    <!--返回按钮-->
	<div class="progress-wrap">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
		</svg>
	</div>
</body>
<script src="/static/js/index.js"></script>
</html>