<!Document html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>【京冬众质】 - 盗版数据标注平台</title>
    <script src="{% static './js/jquery-3.6.0.js'%}"></script>
    <script src="{% static './js/product.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static './layui-v2.6.8/layui/css/layui.css'%}">
    <script src="{% static './layui-v2.6.8/layui/layui.js'%}"></script>
    <link rel="stylesheet" href="{% static './dist/css/zui.min.css'%}">
    <script src="{% static './dist/js/zui.min.js'%}"></script>

    <style> 
        a{text-decoration:none;color:black;} 
        a:hover{text-decoration:none;color:black;} 
        .zhuanti a:hover{text-decoration:none;color:#2932e1;} 
        .shaixuan li a{font-size: 3;}
        .footer {height: 200px;background-color:#1a1a1a;margin-top: 15px;}
        .footer .container {padding-top: 20px;}
        .container {position: relative;width: 1200px; margin: auto;background-color: transparent;}
        .copyright {float: left;}
        .copyright p {font-size: 12px;color: #ffffff;margin: 20px 0 15px 0;}
        .copyright .app {display: inline-block;width: 118px;height: 33px;text-align: center;line-height: 33px;border: 1px solid #00a4ff;font-style: 16px;color: #00a4ff;}
        .links {float: right;}
        .links dl {float: left;margin-left: 100px;}
        .links dl dt {font-size: 16px;color: #ffffff;margin-bottom: 5px;}
        .links dl dd a {font-size: 12px;color: #b1b1b1;}
    </style>

</head>
<body>
    <div class="row">

        <!-- 左部分 -->
        <div class="col-md-6" style="margin-left:18%;">

            <!-- 项目标签栏 -->
            <div class="col-md-12"> 
                <ul class="nav nav-secondary nav-justified shaixuan" style="margin-top:90px;">
                    <li class="active"><a href="#" ><font size = '1'>所有项目</font></a></li>
                    <li><a href="#"><font size = '1'>推荐项目</font></a></li>
                    <li><a href="#"><font size = '1'>我的项目</font></a></li>
                    <li><a href="#"><font size = '1'>我喜欢的</font><span class="label label-badge label-success">4</span></a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size = '1'>更多</font> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">任务</a></li>
                        <li><a href="#">bug</a></li>
                        <li><a href="#">需求</a></li>
                        <li><a href="#">用例</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- 专题 -->
            <div class="col-md-12 zhuanti" style="padding-top: 20px;">
                <span style="padding: 0 20px;">专题: </span>
                <a style="padding: 0 20px;">全部</a>
                <a style="padding: 0 20px;">新手入门</a>
                <a style="padding: 0 20px;">进阶项目</a>
                <a style="padding:2px;margin: 0 16px;background-color: #2932e1;color:white ;">高阶项目</a>
                <a style="padding: 0 20px;">精选</a>
                <a style="padding: 0 20px;">最新</a>
            </div>

            <!-- 筛选 -->
            <div class="col-md-3" style="margin: 20px 0px;width: 125px;">
                <select class="form-control" >
                    <option value="">所有类型</option>
                    <option value="apple" >文本</option>
                    <option value="banana">图片</option>
                    <option value="orange">音频</option>
                    <option value="orange">视频</option>
                  </select>
            </div>
            <div class="col-md-3" style="margin: 20px 0px;width: 125px;">
                <select class="form-control">
                    <option value="">所有报酬</option>
                    <option value="apple">0 ~ 100 s币</option>
                    <option value="banana">100 ~ 1000 s币</option>
                    <option value="orange">1000s币以上</option>
                  </select>
            </div>
            <div class="col-md-3" style="margin: 20px 0px;width: 125px;">
                <select class="form-control">
                    <option value="">所有星级</option>
                    <option value="apple">0星</option>
                    <option value="banana">1星</option>
                    <option value="orange">2星</option>
                  </select>
            </div>
            <!-- 搜索 -->
            <div class="col-md-3" style="margin-top: 20px ;margin-right: 10px;float: right;z-index: 3;">
                <div class="input-group">
                    <div class="input-control search-box search-box has-icon-left has-icon-right search-example" id="searchboxExample">
                      <input id="inputSearchExample4" type="search" class="form-control search-input" placeholder="搜索">
                      <label for="inputSearchExample4" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                    </div>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">搜索</button>
                    </span>
                  </div>
            </div>

            <!-- 商品列表 -->
            <div class="col-md-12">
                <div class="list">
                    
                    <!-- 任务数量? -->

                    <header>
                      <!-- <h3><i class="icon-list-ul"></i> 最新任务 <small>更新 123 条</small></h3> -->
                    </header>
                    

                    <div class="items items-hover">
                        
                        <!-- 单件商品 -->
                        <div class="item" id="shangpin1">
                            <div class="row">
                                <div class="col-md-3" style="margin: 20px 0;">
                                    <a href="{% url 'product_info' 1 %}" target="_blank"><img id="wenbentu1" src="{% static './img/6.png'%}"></a>
                                </div>
                                <div class="col-md-9" style="margin:20px 0">
                                    <div class="item-heading">
                                        <h4 style="display:inline"><a id="wenbenming1" href="{% url 'product_info' 1 %}"  target="_blank" style="margin: top 2px;">文本情感分析1</a></h4>
                                        <span class="layui-badge" style="margin-right: 1px;">新</span>
                                        <span class="label label-warning" id="wenbenbiao1">文本</span>
                                        <div  class="pull-right"><div id="test1" style="margin-top: 5px;margin-left: 7px;"></div></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="text" style="margin-top: 10px; width: 80%;">
                                            <span style="color: #727f8f;">数据类型：</span><span>文本</span>
                                            <span style="color: #727f8f;margin-left:50px">时间：</span><span>7天</span>
                                        </div>
                                        <div class="item-footer">
                                            <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a> &nbsp; <span class="text-muted">2022-03-29 16:14:37</span>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>

                      <!-- 单件商品 -->
                      <div class="item">
                        <div class="row">
                          <div class="col-md-3" style="margin: 20px 0;">
                              <img src="{% static './img/7.png'%}">
                          </div>
                          <div class="col-md-9" style="margin:20px 0">
                            <div class="item-heading">
                                <h4 style="display:inline"><a href="#" id="tupianming1"style="margin: top 2px;">图片数据标注123</a></h4>
                                <span class="label label-info"id="tupianbiao1">图片</span>
                                <div  class="pull-right"><div id="test2" style="margin-top: 5px;margin-left: 7px;"></div></div>
                            </div>
                            <div class="item-content">
                              <div class="text" style="margin-top: 10px; width: 80%;">
                                <span style="color: #727f8f;">数据类型：</span><span>图片</span>
                                <span style="color: #727f8f;margin-left:50px">时间：</span><span>3天</span>
                              </div>
                              <div class="item-footer">
                                <a href="#" class="text-muted"><i class="icon-comments"></i> 1</a> &nbsp; <span class="text-muted">2022-03-30 20:08:12</span>
                              </div>
                            </div>
                          </div>    
                        </div>
                      </div>

                      <!-- 单件商品 -->
                      <div class="item">
                        <div class="row">
                          <div class="col-md-3" style="margin: 20px 0;">
                              <img src="{% static './img/8.png'%}">
                          </div>
                          <div class="col-md-9" style="margin:20px 0">
                            <div class="item-heading">
                                <h4 style="display:inline"><a href="#" id="shangpinming1"style="margin: top 2px;">给视频打标111</a></h4>
                                <span class="layui-badge" style="margin-right: 1px;">新</span>
                                <span class="label label-success"id="shipinbiao1">视频</span>
                                <div  class="pull-right"><div id="test3" style="margin-top: 5px;margin-left: 7px;"></div></div>
                            </div>
                            <div class="item-content">
                              <div class="text" style="margin-top: 10px; width: 80%;">
                                <span style="color: #727f8f;">数据类型：</span><span>视频</span>
                                <span style="color: #727f8f;margin-left:50px">时间：</span><span>7天</span>
                              </div>
                              <div class="item-footer">
                                <a href="#" class="text-muted"><i class="icon-comments"></i> 543</a> &nbsp; <span class="text-muted">2022-03-29 16:14:37</span>
                              </div>
                            </div>
                          </div>    
                        </div>
                      </div>
    
                    </div>

                  </div>
                    
                  <!-- 分页条 -->
                  <div class="row">
                      <div class="col-md-12" style="text-align: center;">
                          <div id="demo2"></div>
                      </div>
                  </div>
                  <script>
                      // 分页条
                      layui.use(['laypage', 'layer'], function(){
                      var laypage = layui.laypage
                      ,layer = layui.layer;      
                      laypage.render({
                          elem: 'demo2'
                          ,count: 100
                          ,theme: '#1E9FFF'
                      });
                      });
                  </script>
            </div>
        </div>
        

        <!-- 右部分 -->
        <div class="col-md-2" style="margin-top: 90px;background-color: white;height: 600px;">
            用户星级、商品排行榜之类的（待完成）<img src="{% static './img/xmdr.jpg'%}" alt="">
        </div>

    </div>


    <!-- 底部网站信息 -->
    <div class="footer">
      <div class="container">
        <div class="copyright">
          <img src="{% static './img/title.svg'%}" alt="logo" />
          <p>
              【京冬众质】 - 北航最好的盗版数据标注平台<br />
            &copy; 2022年
          </p>
          <a href="#" class="app">666</a>
        </div>
        <div class="links">
          <dl>
            <dt>关于京冬众质</dt>
            <dd><a href="#">关于</a></dd>
            <dd><a href="#">团队管理</a></dd>
            <dd><a href="#">工作机会</a></dd>
            <dd><a href="#">客户服务</a></dd>
            <dd><a href="#">帮助</a></dd>
          </dl>
          <dl>
            <dt>关于京冬众质</dt>
            <dd><a href="#">关于</a></dd>
            <dd><a href="#">团队管理</a></dd>
            <dd><a href="#">工作机会</a></dd>
            <dd><a href="#">客户服务</a></dd>
            <dd><a href="#">帮助</a></dd>
          </dl>
          <dl>
            <dt>关于京冬众质</dt>
            <dd><a href="#">关于</a></dd>
            <dd><a href="#">团队管理</a></dd>
            <dd><a href="#">工作机会</a></dd>
            <dd><a href="#">客户服务</a></dd>
            <dd><a href="#">帮助</a></dd>
          </dl>
        </div>
      </div>
    </div>


    <!-- 顶部固定导航栏 -->
    <ul class="layui-nav" style="z-index: 5;box-shadow: 0px 3px 5px rgb(151 151 151 / 80%);background-color: white;text-align:center;position: fixed;top: 0px;width: 100%;">   
        <li class="layui-nav-item "><a><img src="{% static './img/title.svg'%}" style="height: 20px;"></a></li>
        <li class="layui-nav-item" ><a href="{% url 'index' %}" style="color: black;">首页</a></li>
        <li class="layui-nav-item  layui-this">   
            <a href="{% url 'products' 1%}" style="color: black;text-decoration:none;text-decoration:none;"> 任务市场 </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;"> 数据标注 </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a href="" style="color: black;">我的任务</a></dd>
                <dd><a href="" style="color: black;">账号设置</a></dd>
                <dd><a href="" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;"> 帮助 </a>
            <dl class="layui-nav-child">
                <dd><a href="" style="color: black;text-align:center;">选项1</a></dd>
                <dd class="layui-this"><a href="" style="color: black;">选项2</a></dd>
                <dd><a href="" style="color: black;">选项3</a></dd>
            </dl>
        </li>
            <li class="layui-nav-item"><a href="http://127.0.0.1:8001/" style="color: black;text-decoration:none;text-decoration:none;float: right;"> 登录 </a>
        </li>  
    </ul>

      
</body>
</html>