<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>【京冬众质】 - 盗版数据标注平台</title>
    <script src="{% static './js/jquery-3.6.0.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static './layui-v2.6.8/layui/css/layui.css'%}">
    <script src="{% static './layui-v2.6.8/layui/layui.js'%}"></script>
    <link rel="stylesheet" href="{% static './dist/css/zui.min.css'%}">
    <script src="{% static './dist/js/zui.min.js'%}"></script>
    <style> 
        a{text-decoration:none;color:black;} 
        a:hover{text-decoration:none;color:black;} 
        .zhuanti a:hover{text-decoration:none;color:#2932e1;} 
        .shaixuan li a{font-size: 3;}
        .footer {height: 200px;background-color:#1a1a1a;margin-top: 15px;}
        .footer .container {padding-top: 20px;}
        .container {position: relative;width: 1200px; margin: auto;background-color: transparent;}
        .copyright {float: left;}
        .copyright p {font-size: 12px;color: #ffffff;margin: 20px 0 15px 0;}
        .copyright .app {display: inline-block;width: 118px;height: 33px;text-align: center;line-height: 33px;border: 1px solid #00a4ff;font-style: 16px;color: #00a4ff;}
        .links {float: right;}
        .links dl {float: left;margin-left: 100px;}
        .links dl dt {font-size: 16px;color: #ffffff;margin-bottom: 5px;}
        .links dl dd a {font-size: 12px;color: #b1b1b1;}
    </style>

    <!-- 星级 -->
    <script>
      layui.use(['rate'], function(){
      var rate = layui.rate;
          rate.render({
          elem: '#test1'
          ,value: 2
          ,readonly: true
      })})
    </script>
</head>
<body style="background-color: #f0f2f5;">
    <!-- 商品描述卡片 -->
    <div class="row" >
        <div class="col-md-7 container-fluid" style="background-color: #ffffff;height: auto;margin: 0 21%;margin-top: 95px;margin-bottom: 30px;border-radius: 5px 5px 5px 5px;box-shadow: 1px 1px 5px rgb(151 151 151 / 80%);padding: 0 0px;">
            
            <!-- 顶部蓝色框框 -->
            <div class="container-fluid col-md-12" style="width: 100%;height: auto;background-color: #f7fafc;border-radius: 5px 5px 0px 0px;border-top: 1px solid #fff;
                border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 30px 40px 40px 30px;background: #F7FAFC;border-bottom: 1px solid #ededed;">
                <div class="row" >
                    <div style="font-size: 30px;">微博评论情绪标注</div>
                </div>
                <div class="row" style="margin-top: 10px;" >
                    <span class="layui-breadcrumb" lay-separator="|">
                        <span style="color: #999999;">发布者：</span>
                        <a href="">123</a>
                    </span>
                </div> 
                <div class="row" style="margin-top: 10px;">
                    <span class="layui-breadcrumb" lay-separator="|">
                        <a href="">数据类型：文本</a>
                        <a href="">标注难度：简单</a>
                        <a href=""> </a>
                        <span id="riqi" style="color: #999999;">发布时间：2022-03-29 16:14:37</span>
                    </span>
                    <script>
                        layui.use('element', function(){
                        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
                  
                        //监听导航点击
                        element.on('nav(demo)', function(elem){
                        //console.log(elem)
                        layer.msg(elem.text());
                        });
                        });
                    </script>
                </div>
                <div class="row" >星级：<div id="test1" style="margin-top: 5px;margin-left: 7px;"></div>
                    <div  class="pull-right">
                        <button id="lingqu" class="btn btn-lg btn-primary" type="button" style="margin-right: 20px; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);" onclick="lingqu()">领取任务</button>
                        <script>
                          function lingqu() {
                              x = document.getElementById("lingqu");
                              x.innerHTML = "领取成功";
                              x.className = "btn btn-lg btn-success disabled";
                              x.click();}
                        </script>
                    </div>
                </div>
                <div class="row">
                    经验值：<span style="color:#0bce68;font-size: 20px;">100 Exp</span> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;酬劳：<span style="color:#2932e1;font-size: 20px;">100 京币</span>
                </div>
                <div class="row" style="margin-top: 15px;">
                    预计用时：<span style="font-size: 15px;"> 2 小时</span>
                </div>
            </div>

            <!-- 商品描述 -->
            <div class="row" style="padding: 30px 30px;">
                <div class="col-md-12">
                    <div style="margin-top: 30px;font-size: 28px;margin-bottom: 10px;">任务描述</div>
                </div>
                <div class="col-md-12">
                    <cite>
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
            这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务这是一个文本标注任务
                    </cite>
                </div>
            </div>



        </div>
    </div>

    <!-- 底部网站信息 -->
    <div class="footer" style="margin-top:0px ;">
        <div class="container">
            <div class="copyright">
                <img src="{% static './img/title.svg' %}" alt="logo" />
                <p>
                    【京冬众质】 - 北航最好的盗版数据标注平台<br />
                &copy; 2022年
                </p>
                <a href="#" class="app">666</a>
            </div>
            <div class="links">
                <dl>
                    <dt>关于京冬众质</dt>
                    <dd><a href="#">关于</a></dd>
                    <dd><a href="#">团队管理</a></dd>
                    <dd><a href="#">工作机会</a></dd>
                    <dd><a href="#">帮助</a></dd>
                </dl>
                <dl>
                    <dt>使用帮助</dt>
                    <dd><a href="#">用户指南</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">客户服务</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd><a href="#">咨询邮箱：建议不要咨询</a></dd>
                </dl>
                <dl>
                    <dt>更多信息</dt>
                    <dd><a href="#">社会责任</a></dd>
                    <dd><a href="#">知识产权</a></dd>
                    <dd><a href="#">免责声明</a></dd>
                    <dd><a href="#">加入我们</a></dd>
                </dl>
            </div>
        </div>
    </div>


    <!-- 顶部固定导航栏 -->
    <ul class="layui-nav" style="box-shadow: 0px 3px 5px rgb(151 151 151 / 80%);background-color: white;text-align:center;position: fixed;top: 0px;width: 100%;">   
        <!--头顶大LOGO-->
        <div style="float: left;vertical-align: middle;line-height: 60px;margin-left: 15px;"><a href="{% url './index.html' %}"><img src="{% static './img/title.svg' %}" style="height: 20px;"></a></div>
        <!-- <li class="layui-nav-item "><a><img src="./img/title.svg" style="height: 20px;"></a></li> -->
        <li class="layui-nav-item" ><a href="" style="color: black;">首页</a></li>
        <li class="layui-nav-item">   
            <a href="{% url './product.html' %}" style="color: black;text-decoration:none;text-decoration:none;"> 任务市场 </a>
        </li>
        <li class="layui-nav-item  layui-this">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;"> 数据标注 </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a href="" style="color: black;">我的任务</a></dd>
                <dd><a href="" style="color: black;">账号设置</a></dd>
                <dd><a href="" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" style="color: black;text-decoration:none;text-decoration:none;"> 帮助 </a>
            <dl class="layui-nav-child">
                <dd><a href="" style="color: black;text-align:center;">选项1</a></dd>
                <dd class="layui-this"><a href="" style="color: black;">选项2</a></dd>
                <dd><a href="" style="color: black;">选项3</a></dd>
            </dl>
        </li>
            <li class="layui-nav-item"><a href="" style="color: black;text-decoration:none;text-decoration:none;float: right;"> 登录 </a>
        </li>  
    </ul>


</body>
</html>