<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>【京冬众质】 - 北航数据标注平台</title>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui-v2.6.8/layui/css/layui.css">
    <script src="/static/layui-v2.6.8/layui/layui.js"></script>
    <script src="/static/js/footer.js"></script>
    <link rel="shortcut icon" href="/static/img/logo.svg">
    <link rel="stylesheet" href="/static/dist/css/zui.min.css">
    <link rel="stylesheet" href="/static/css/guding1.css">
    <link rel="stylesheet" href="/static/css/guding2.css">
    <script src="/static/dist/js/zui.min.js"></script>
    <link rel="stylesheet" href="/static/css/work3.css">
    <script src="/static/js/work3.js"></script>
    <script src="/static/js/guding.js"></script>
    <script>
        var csrf_token = '{{ csrf_token }}';
        var jindu = '{{ jindu }}';
        var user_id = {{user_id}};
        var task_id = '{{task_id}}';
        var page = {{page}};
        var page_max = {{page_max}};
        var content = '{{content}}';
        var new_page = '{{new_page}}';
        var choice_num = {{choice_num}};
    </script>
</head>
<body style="background-color: #f0f2f5;overflow-x:hidden;height: 100%;" class="demo_2">
    <main>
    <!-- 提交成功弹窗 -->
    <div class="modal fade"  id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <h4 class="modal-title">任务提交确认</h4>
            </div>
            <div class="modal-body">
                <h1 style="color: #0b68fb;"id="myModal2">提交任务成功！:)</h1>
                <!-- <p>提交任务成功！</p> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
          </div>
        </div>
      </div> 
    <!--大哥广告-->
    <!--    <img src="/static/img/guanggao.jpg" style="position: fixed;height: 250px;left:0px;top:60%;z-index: 4;">-->
    <!--    <img src="/static/img/guanggao2.jpg" style="position: fixed;height: 250px;right:0px;top:60%;z-index:4;">-->

    <aside style="margin-top: 100px; position: fixed; left: 0px;  top: 0px;">
        <div class="collapse" id="collapseExample">
            <div class="bg-primary with-padding" style="background-color:#3280fc;border-radius: 5px 5px 5px 5px;">
                <p style="margin-top: 10px;font-size:15px">{{yaoqiu}}</p>
            </div>
        </div>
    </aside>

    <!-- 商品描述卡片 -->
    <div class="row" style="height: 100%;">
        <div class="col-md-7 container-fluid" style="background-color: #ffffff;margin: 0 21%;margin-top: 95px;margin-bottom: 30px;border-radius: 10px 10px 10px 10px;box-shadow: 1px 1px 5px rgb(151 151 151 / 80%);padding: 0 0px;">
            <!-- 顶部任务描述区域 -->
            <div class="container-fluid col-md-12" style="width: 100%;height: auto;background-color: #f7fafc;border-radius: 5px 5px 0px 0px;border-top: 1px solid #fff;
                border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 30px 20px 15px 20px;background: #F7FAFC;border-bottom: 1px solid #ededed;">
                <span style="font-size: 30px;">任务号：<span id="renwuhao">{{renwuhao}}</span></span>
                
                <!--进度条-->   
                <div class="progress progress-striped active" style="margin-top: 15px;">
                    <div id="jindu2" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <span style="font-size: 22px;margin-top: 10px;">页数：</span>
                <span style="font-size: 22px;margin-top: 10px;color: #999999;" id="jindu">{{new_page}}</span>
                <span style="font-size: 22px;margin-top: 10px;color: #999999;">/{{page_max}}</span>
                
                <p>
                    <!-- <button type="button" class="btn" data-toggle="collapse" data-target="#collapseExample">标注规则</button> -->
                    <a href="#collapseExample" data-toggle="collapse" class="btn btn-link" style="font-size: 22px;color: #00a4ff;margin-top: 10px;background-color:#dedede" id="miaoshu">显示标注规则</a>
                
                </p>
            </div>


            
            <!-- 任务展示区域 -->
            <div class="row" style="padding: 30px 30px;height:auto;">
                <div class="col-md-12">
                    <div style="max-height: 500px;min-height:300px;margin-top: 30px;text-align: center;"><img id="neirong" style="height: 300px;" src="{{content}}">
                        <div id="neirong2" style="display:None;">任务结束，点击按钮提交任务</div></div>
                </div>
                <div class="col-md-12">
                </div>
            </div>

            <!--底部选择按钮区域-->
            <div class="container-fluid col-md-12" style="width: 100%;height: auto;background-color: #f7fafc;border-radius: 5px 5px 0px 0px;border-top: 1px solid #fff;
                border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 30px 40px 40px 30px;background: #F7FAFC;border-bottom: 1px solid #ededed;">
                <div class="row" >
                    <div class="col-md-2"><button id="previous" class="btn btn-lg btn-success" type="button" onclick="previous_task()">上一题</button></div>
                    <div class="col-md-8" style="text-align: center;" id="choices">
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice1()" id="choice1" style="display:None;">{{choice_1}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice2()" id="choice2" style="display:None;">{{choice_2}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice3()" id="choice3" style="display:None;">{{choice_3}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice4()" id="choice4" style="display:None;">{{choice_4}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice5()" id="choice5" style="display:None;">{{choice_5}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice6()" id="choice6" style="display:None;">{{choice_6}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice7()" id="choice7" style="display:None;">{{choice_7}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice8()" id="choice8" style="display:None;">{{choice_8}}</button>
                        <button class="btn btn-lg btn-primary" type="button" onclick="choice9()" id="choice9" style="display:None;">{{choice_9}}</button>
                        <!-- <button id="end" type="button" class="btn" data-moveable="true" data-toggle="modal" data-target="#myModal">提交任务</button> -->
                        <button id="end" class="btn btn-lg btn-primary" type="button" onclick="end_task()" style="margin-right: 10px;display: none;" data-moveable="inside" data-toggle="modal" data-target="#myModal">提交任务</button>
                    </div>
                    <div class="col-md-2"style="right: 0px;">
                        <button id="next" class="btn btn-lg btn-success pull-right" type="button" onclick="next_task()">下一题</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部网站信息 -->
    <div class="footer" style="width: 100%;">
        <div class="container">
            <div class="copyright">
                <img src="/static/img/logo.svg" alt="logo" style="height: 30px;"/>
                <p>
                    【京冬众质】 - 北航最好的北航数据标注平台<br />
                &copy; 2022年
                </p>
                <a href="#" class="app">666</a>
            </div>
            <div class="links">
                <dl>
                    <dt>关于京冬众质</dt>
                    <dd><a href="#">关于</a></dd>
                    <dd><a href="#">团队管理</a></dd>
                    <dd><a href="#">工作机会</a></dd>
                    <dd><a href="#">帮助</a></dd>
                </dl>
                <dl>
                    <dt>使用帮助</dt>
                    <dd><a href="#">用户指南</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">客户服务</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd><a href="#">咨询邮箱：建议不要咨询</a></dd>
                </dl>
                <dl>
                    <dt>更多信息</dt>
                    <dd><a href="#">社会责任</a></dd>
                    <dd><a href="#">知识产权</a></dd>
                    <dd><a href="#">免责声明</a></dd>
                    <dd><a href="#">加入我们</a></dd>
                </dl>
            </div>
        </div>
    </div>


    <!-- 顶部固定导航栏 -->
    <div class="row">
      <ul class="layui-nav" style="z-index: 5;box-shadow: 0px 2px 3px rgb(151 151 151 / 60%);background-color: white;text-align:center;position: fixed;top: 0px;right:0px;width: 100%;">
        <!--头顶大LOGO-->
        <div style="float: left;vertical-align: middle;line-height: 60px;margin-left: 15px;"><a href="/jdzz/{{user_id}}"><img src="/static/img/logo.svg" style="height: 30px;"></a></div>
        <li class="layui-nav-item" style="float:right;" id="log_in_0">
            <a id='denglu' href="http://localhost:8001" style="color:black;margin-right: 30px;"> 登录 </a>
            <dl class="layui-nav-child" style="margin-right: 50px;">
                <dd><a href="http://localhost:8001" style="color: black;">我的任务</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">账号设置</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style="float:right;display: none;" id="log_in_1">
            <a href="http://localhost:8001" style="color: black;"><img src={{img_url}} class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="http://localhost:8001" style="color: black;">我的任务</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">账号设置</a></dd>
                <dd><a href="http://localhost:8001" style="color: black;">支持与服务</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item  layui-this" style="float:right">
            <a href="#" style="color: black;float:right"> 数据标注 </a>
        </li>
        <li class="layui-nav-item" style="float:right">
            <a href="/jdzz_product/{{user_id}}/1/" style="color: black;float:right"> 任务市场 </a>
        </li>
        <li class="layui-nav-item" style="float:right">
            <a href="/jdzz/{{user_id}}" style="color: black;">首页</a>
        </li>
      </ul>
    </div>


    <script>
        document.getElementById('miaoshu').addEventListener('click',function(){
        $('#miaoshu').css('background-color','');
        })
    </script>
    <script>
	    "use strict";
	    var Sticky = new hcSticky('aside', {
	      stickTo: 'main',
	      queries: {
	        980: {
	          disable: true
	        }
	      }
	    });
	  </script>
      </main>
</body>
</html>